$regularFont: 300;
$boldFont:700;
$titleFont: 900;
$logoFont:'Pacifico', cursive;

$titleBig: 9rem;
$titleMedium: 6rem;
$titleSmall: 4rem;
$paragraphFont: 17px;
$btnFont: 20px;

@mixin paragraph-size (){
	@media screen and (min-width: 769px) {
		font-size: 17px;
	}
	@media screen and (max-width: 768px) {
		font-size: 15px;
	}
}

@mixin mediaQ($arg...){
    @if length($arg) == 1{
        @media screen and (max-width: nth($arg, 1)){
            @content;
        }
    }
    @if length($arg) == 2{
        @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)){
            @content;
        }
    } 
}

:root{
	font-size: 10px;

	@include mediaQ(1200px){
		font-size: 8px;
	}
	@include mediaQ(768px){
		font-size: 6px;
	}
	@include mediaQ(450px){
		font-size: 5px;
	}

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1{
	margin:0;
}

body{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.logo{
	font-family: $logoFont;
	letter-spacing: 1px;

	&--small{
		font-size: 25px;
		color: rgb(185, 185, 185);
	}
	&--big{
		font-size: 50px;
	}

}
.section{
	width: 100%;

	&--about{
		background-color: rgb(0, 187, 187);
	}
	&--services{
		background-color: rgb(112, 191, 255);
	}
	&--gallery{
		background-color: rgb(255, 233, 47);
	}
	&--subscription{
		background-image: url("../img/subscribe_bcg.jpg");
		background-position: right;
		background-repeat: no-repeat;
		@include mediaQ(1000px){
			background-position: left;
		}
	}
	&--blog{
		background-color: rgb(176, 124, 247);
	}
	&--contact{
		background: url("../img/footer_bcg.jpg") no-repeat;
		background-position: center;
		background-size: cover;
	}
	&--footer{
		background-color: rgb(38, 38, 38);
	}

}
.section__content{
	width: 80%;
	margin: 0 auto;
}
.button{
	font-size: $btnFont;
	text-transform: uppercase;
	padding: 10px 25px;
	font-size: $btnFont;
	color: rgb(255, 255, 255);
	box-shadow: 2px 5px 12px -6px rgba(0,0,0,0.75);
	cursor: pointer;
	border:none;
	transition: transform .3s ease-in-out;

	&--hero{
		margin-top: 20px;
		background: rgb(255, 96, 51);
	}
	&--gallery{
		margin-top: 30px;
		background: rgb(85, 133, 162);
	}
	&--subscribe{
		background-color: rgb(150, 185, 44);
	}
	&--blog{
		background-color: rgb(247, 43, 59);
	}
	&:hover{
		transform: scale(1.1);
	}
}


header{
width:80%;
position:fixed;
display:flex;
margin: 40px 10%;
justify-content: space-between;
}
.navigation{

&__items{
		vertical-align: middle;
		display:flex;
		font-weight: $boldFont;
	}
&__item{
		vertical-align: middle;
		list-style: none;
		text-transform: uppercase;
		padding: 20px;
		font-size: 1.6rem;
	}
	&__item:last-child{
		padding-right: 0;
	}
	
}



.hero{
	height: 100vh;
	width:80%;
	margin: 0 auto;

		&__background{
				position: absolute;
				background-image: url(../img/header_bcg.jpg);
				height: 100vh;
				background-repeat: no-repeat;
				top:0;
				left:0;
				width:100%;
				background-size:cover;
				background-position: center;
				z-index: -1;
		}

		&__content{
				padding-top:20%;

				h1{
					font-weight: $titleFont;
					font-size:$titleMedium;
				}
				p{
					@include paragraph-size();
					width:25%;
					 margin-top:10px;
					 line-height: 1.5;
				}
		}
		@include mediaQ(1000px)	{
			&__content{
				padding-top:40%;
			}
		}
}

.about{
	display:flex;
	justify-content: space-between;
	color:white;
	padding-top:50px;
	padding-bottom: 50px;



	&__image{
		width: 50%;

		img{
			width:100%;
		}
	}

	&__informations{
		margin: auto 0;
		width:50%;
		margin-left: 5%;
	}
	h1{
		font-size:$titleBig;
	}
	p{
		padding-bottom:15px;
		font-size:$paragraphFont;
		line-height: 1.5;
		width: 65%;
	}
	@include mediaQ(1000px){
		p{
			width:100%;
		}
	}
	@include mediaQ(768px){
		flex-direction: column;
		align-items: center;
		
		&__image{
			width: 100%;
		}
		&__informations{
			width: 100%;
			text-align: justify;
		}

	}
}

.services{
	padding-top:50px;
	padding-bottom: 50px;
	display:flex;
	justify-content: space-between;
	color:white;

	&__list{
		align-self: center;
		margin-left: 10%;
	}

	&__image{
		position: relative;
		width: 50%;

		img{
			width:100%;
			padding: 10%;
		}
		.image__title{
			font-size: $titleBig;
			width:100%;
			text-align: center;
			font-weight: $boldFont;
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
		}
	}
	@include mediaQ(1000px){
		&__list{
			margin-left:0;
		}
	}
	@include mediaQ(850px){
		flex-direction: column;
		align-items: center;
		&__list{
			order:2;
			width:100%;
		}
		&__image{
			width:70%;
			padding-top:0;
		}
		&__image img{padding-top:0;}

	}
}

.service{
	color: black;
	font-weight: $boldFont;
	background-color: rgb(255, 255, 255);
	font-size: 20px;
	padding: 15px;
	display:flex;
	justify-content: space-between;
	margin-bottom: 20px;
	box-shadow: 3px 2px 9px 0px rgba(0,0,0,0.75);

	p{
		margin:auto;
		width: 80%;
		text-align: center;
	}
	span{
		width:20%;
		height: 100%;
		border-left: 1px solid rgb(157, 157, 157);
		text-align: center;
	}
	@include mediaQ(1000px){
		font-size: 16px;
		padding:10px;

	}
	@include mediaQ(400px){
		span img{
			width: 100%;
		}

	}
}

.gallery{
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;

	&__title{
		font-size: $titleBig;
		
	}
	&__decription{
		font-size: $paragraphFont;
		width: 40%;
		margin: 30px auto;

	}
	&__presentation{
		display:grid;
		grid-template-columns: repeat(6,1fr);
		grid-auto-rows: minmax(100px,auto);
		margin: 0 auto;
		grid-gap: 30px;
		justify-items: stretch;
		align-items: stretch;

		grid-template-areas:
		"peach peach peach peach blackberries blackberries"
		"peach peach peach peach blueberries blueberries"
		"milk milk milk khakki khakki khakki";
	}
	.image-1{
		grid-area: peach; 
	}
	.image-2{
		grid-area: blackberries;
	}
	.image-3{
		grid-area: blueberries;
	}
	.image-4{
		grid-area: milk;
	}
	.image-5{
		grid-area: khakki;
	}
	@include mediaQ(1000px){
		&__decription{
			width: 80%;
		}
		&__presentation{
			grid-template-columns: repeat(6,1fr);
			grid-template-areas:
			"peach peach peach peach peach peach"
			"blueberries blueberries blueberries blackberries blackberries blackberries"
			"milk milk milk khakki khakki khakki";

		}
	}
	@include mediaQ(768px){
		&__presentation{
			width: 80%;
			grid-template-columns: repeat(2,1fr);
			grid-template-areas:
			"peach peach"
			"blueberries blueberries"
			"blackberries blackberries"
			"milk milk "
			"khakki khakki";
		}
	}
}

.subscription{
	min-height: 500px;
	padding-top: 100px;

	&__title{
		font-size: $titleSmall;
	}
	&__description{
		font-size:$paragraphFont;
		width:45%;
		margin: 25px 0;
	}
	&__form  input{
		font-size: 2rem;
		width:50%;
		padding: 10px;
		margin-right: 20px;
	}
	@include mediaQ(1000px){
		min-height: 400px;
		text-align: center;
		&__description{
			margin: 25px auto;
			padding-bottom: 30px;
			width: 70%;
		}
	}
	@include mediaQ(768px){
		margin-bottom: 50px;
		&__form  input{
			width: 70%;
			margin-bottom: 20px;
		}
	}
	@include mediaQ(500px){
		&__form  input{
			width: 100%;
		}
	}
	
}

.blog{
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	
	&__title{
		font-size:$titleBig;
		color: white; 
		margin-bottom: 30px;
	}
	&__description{
		font-size: $paragraphFont;
		width:55%;
		margin: 0 auto 30px;
		color: white;
		font-weight: 400;
	}
}

.blog__posts{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	flex-wrap: wrap;

	.post{
		margin: 10px;
		position: relative;
		width:30%;
		height: 22vw;
		background-image: url('../img/blog_raspberries.jpg');
		background-position: right;
		background-size: cover;
		background-repeat: no-repeat;

		/*&__image{
			width:100%;
			height: 100%;
		}*/
		&__date{
			position: absolute;
			top: 5%;
			left: 5%;
			padding:2%;
			background-color:rgba(0,0,0,0.4	);
			border-radius:10%;
			color: white;
			font-weight: $boldFont;
			font-size: 21px;
		}
		&__summary{
			width:100%;
			position: absolute;
			height: 30%;
			bottom: 0;
			background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.0));
			text-align: left;

			&__title{
				font-size: 20px;
				color: white;
				text-shadow: black 2px 2px 2px;	
				margin-top: 10px;
				margin-left: 20px;
				padding-bottom: 20px; 
			}
			&__author{
				font-size:13px;
				color:white;
				text-shadow: black 2px 2px 2px;
				margin-left: 20px;
			}
		}
	}
	@include mediaQ(1500px){
		.post__summary{
			height: 40%;
		}
	}
	@include mediaQ(1100px){
		.post{
			&__date{font-size:16px}
			&__summary{height: 50%;}
			&__summary__title{font-size:16px;}
		}
	}
}

.contact{
	padding-bottom: 100px;

	.flex-container{
		display:flex;
	}


	&__heading{
		text-align: center;
	}
	&__title{
		font-size: $titleBig;
		padding-top: 100px;
	}
	&__description{
		padding: 50px 0;
		font-size: $paragraphFont;
	}
	&__form{
		display: flex;
		flex-direction: column;
		width:50%;

		input,textarea{
			width: 85%;
			font-size: 15px;
			padding:15px 20px;
			margin-bottom: 15px;
			background: rgba(0, 196, 196, 0.3);
			border: 0;
			color: white;
			outline: none;
			resize:none;
		}
		input:focus, textarea:focus{
			background: rgba(0, 196, 196, 1);
			border-left:4px solid rgb(53, 91, 130);
		}
		input::placeholder, textarea::placeholder{
			color:white;
			opacity: 0.8;
		}

		textarea{
			height: 300px;
		}
	}
	&__address{
		text-align: left;
		padding-left: 10%;

		h4{
			font-size:17px;
		}
		p{
			font-size: 20px;
			padding-bottom:15px;
		}
	}
	@include mediaQ(1100px){
		&__form {width: 70%;}
		&__form input,textarea{
			width:100%;
		}

	}
	@include mediaQ(768px){
		.flex-container{ 
			flex-direction: column;
			align-items: center;
		}
		.contact__form{
			width: 100%;
			margin-top: 20px;
			order:2;
		}
		.contact__address{
			padding-left: 0;
			width: 100%;
		}

	}

}

.footer{
	color: rgb(185, 185, 185);
	display: flex;
	padding: 30px 0;
	justify-content: space-between;
	font-size: $paragraphFont;

	.love{
		color: red;
		font-weight: $boldFont;
	}	
}
