* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1 {
  margin: 0; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300; }

.section {
  width: 80%;
  margin: 0 auto; }

header {
  width: 80%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.navigation__items {
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700; }

.navigation__item {
  vertical-align: middle;
  list-style: none;
  text-transform: uppercase;
  padding: 20px;
  font-size: 16px; }

.navigation__item:last-child {
  padding-right: 0; }

.hero {
  height: 100vh; }
  .hero__background {
    position: absolute;
    background-image: url(../img/header_bcg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; }
  .hero__content {
    padding-top: 20%; }
    .hero__content h1 {
      font-weight: 900;
      font-size: 60px; }
    .hero__content p {
      width: 25%;
      margin-top: 10px;
      line-height: 1.5; }
    .hero__content__btn {
      text-transform: uppercase;
      padding: 10px;
      font-size: 20px;
      margin-top: 20px;
      color: white;
      background: #ff6033;
      cursor: pointer;
      border: none;
      -webkit-box-shadow: 0px 4px 5px 1px #d1c2d1;
              box-shadow: 0px 4px 5px 1px #d1c2d1;
      -webkit-transition: -webkit-transform .3s ease-in-out;
      transition: -webkit-transform .3s ease-in-out;
      -o-transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
    .hero__content__btn:hover {
      background: #fa5c13;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }

.about {
  background-color: #00bbbb;
  width: 100%; }
  .about__content {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white; }

.about__content__image {
  width: 50%; }
  .about__content__image img {
    width: 100%; }

.about__content__informations {
  margin: auto 0;
  width: 50%;
  margin-left: 5%; }

.about__content h1 {
  font-size: 90px; }

.about__content p {
  padding-bottom: 15px;
  line-height: 1.5;
  width: 65%; }

.services {
  min-height: 500px;
  background-color: #70bfff;
  width: 100%; }
  .services__content {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white; }

.services__content__list {
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 10%; }

.services__content__image {
  position: relative;
  width: 50%; }
  .services__content__image img {
    width: 100%;
    padding: 10%; }
  .services__content__image .image__title {
    font-size: 90px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.service {
  color: black;
  font-weight: 700;
  background-color: white;
  font-size: 20px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.75); }
  .service p {
    margin: auto;
    width: 80%;
    text-align: center; }
  .service span {
    width: 20%;
    height: 100%;
    border-left: 1px solid #9d9d9d;
    text-align: center; }

/*.image__title{
	font-size: 90px;
	font-weight: $boldFont;
	position:absolute;
}*/

/*# sourceMappingURL=styles.css.map */
