:root {
  font-size: 10px; }
  @media screen and (max-width: 1200px) {
    :root {
      font-size: 8px; } }
  @media screen and (max-width: 768px) {
    :root {
      font-size: 6px; } }
  @media screen and (max-width: 450px) {
    :root {
      font-size: 5px; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1 {
  margin: 0; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300; }

.logo {
  font-family: "Pacifico", cursive;
  letter-spacing: 1px; }
  .logo--small {
    font-size: 25px;
    color: #b9b9b9; }
  .logo--big {
    font-size: 50px; }

.section {
  width: 100%; }
  .section--about {
    background-color: #00bbbb; }
  .section--services {
    background-color: #70bfff; }
  .section--gallery {
    background-color: #ffe92f; }
  .section--subscription {
    background-image: url("../img/subscribe_bcg.jpg");
    background-position: right;
    background-repeat: no-repeat; }
    @media screen and (max-width: 1000px) {
      .section--subscription {
        background-position: left; } }
  .section--blog {
    background-color: #b07cf7; }
  .section--contact {
    background: url("../img/footer_bcg.jpg") no-repeat;
    background-position: center;
    background-size: cover; }
  .section--footer {
    background-color: #262626; }

.section__content {
  width: 80%;
  margin: 0 auto; }

.button {
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 25px;
  font-size: 20px;
  color: white;
  -webkit-box-shadow: 2px 5px 12px -6px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 5px 12px -6px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  border: none;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
  .button--hero {
    margin-top: 20px;
    background: #ff6033; }
  .button--gallery {
    margin-top: 30px;
    background: #5585a2; }
  .button--subscribe {
    background-color: #96b92c; }
  .button--blog {
    background-color: #f72b3b; }
  .button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

header {
  width: 80%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.navigation__items {
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700; }

.navigation__item {
  vertical-align: middle;
  list-style: none;
  text-transform: uppercase;
  padding: 20px;
  font-size: 1.6rem; }

.navigation__item:last-child {
  padding-right: 0; }

.hero {
  height: 100vh;
  width: 80%;
  margin: 0 auto; }
  .hero__background {
    position: absolute;
    background-image: url(../img/header_bcg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; }
  .hero__content {
    padding-top: 20%; }
    .hero__content h1 {
      font-weight: 900;
      font-size: 6rem; }
    .hero__content p {
      width: 25%;
      margin-top: 10px;
      line-height: 1.5; }
      @media screen and (min-width: 769px) {
        .hero__content p {
          font-size: 17px; } }
      @media screen and (max-width: 768px) {
        .hero__content p {
          font-size: 15px; } }
  @media screen and (max-width: 1000px) {
    .hero__content {
      padding-top: 40%; } }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px; }
  .about__image {
    width: 50%; }
    .about__image img {
      width: 100%; }
  .about__informations {
    margin: auto 0;
    width: 50%;
    margin-left: 5%; }
  .about h1 {
    font-size: 9rem; }
  .about p {
    padding-bottom: 15px;
    font-size: 17px;
    line-height: 1.5;
    width: 65%; }
  @media screen and (max-width: 1000px) {
    .about p {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .about__image {
        width: 100%; }
      .about__informations {
        width: 100%;
        text-align: justify; } }

.services {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white; }
  .services__list {
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: 10%; }
  .services__image {
    position: relative;
    width: 50%; }
    .services__image img {
      width: 100%;
      padding: 10%; }
    .services__image .image__title {
      font-size: 9rem;
      width: 100%;
      text-align: center;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  @media screen and (max-width: 1000px) {
    .services__list {
      margin-left: 0; } }

.service {
  color: black;
  font-weight: 700;
  background-color: white;
  font-size: 20px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.75); }
  .service p {
    margin: auto;
    width: 80%;
    text-align: center; }
  .service span {
    width: 20%;
    height: 100%;
    border-left: 1px solid #9d9d9d;
    text-align: center; }
  @media screen and (max-width: 1000px) {
    .service {
      font-size: 16px;
      padding: 10px; } }

.gallery {
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center; }
  .gallery__title {
    font-size: 9rem; }
  .gallery__decription {
    font-size: 17px;
    width: 40%;
    margin: 30px auto; }
  .gallery__presentation {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin: 0 auto;
    grid-gap: 30px;
    justify-items: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    grid-template-areas: "peach peach peach peach blackberries blackberries" "peach peach peach peach blueberries blueberries" "milk milk milk khakki khakki khakki"; }
  .gallery .image-1 {
    grid-area: peach; }
  .gallery .image-2 {
    grid-area: blackberries; }
  .gallery .image-3 {
    grid-area: blueberries; }
  .gallery .image-4 {
    grid-area: milk; }
  .gallery .image-5 {
    grid-area: khakki; }
  @media screen and (max-width: 1000px) {
    .gallery__decription {
      width: 80%; }
    .gallery__presentation {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "peach peach peach peach peach peach" "blueberries blueberries blueberries blackberries blackberries blackberries" "milk milk milk khakki khakki khakki"; } }
  @media screen and (max-width: 768px) {
    .gallery__presentation {
      width: 80%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "peach peach" "blueberries blueberries" "blackberries blackberries" "milk milk " "khakki khakki"; } }

.subscription {
  min-height: 500px;
  padding-top: 100px; }
  .subscription__title {
    font-size: 4rem; }
  .subscription__description {
    font-size: 17px;
    width: 45%;
    margin: 25px 0; }
  .subscription__form input {
    font-size: 2rem;
    width: 50%;
    padding: 10px;
    margin-right: 20px; }
  @media screen and (max-width: 1000px) {
    .subscription {
      min-height: 400px;
      text-align: center; }
      .subscription__description {
        margin: 25px auto;
        padding-bottom: 30px;
        width: 70%; } }

.blog {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }
  .blog__title {
    font-size: 9rem;
    color: white;
    margin-bottom: 30px; }
  .blog__description {
    font-size: 17px;
    width: 55%;
    margin: 0 auto 30px;
    color: white;
    font-weight: 400; }

.blog__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px; }
  .blog__posts .post {
    margin: 10px;
    position: relative;
    width: 33%; }
    .blog__posts .post__image {
      width: 100%;
      height: 100%;
      position: relative; }
    .blog__posts .post__date {
      position: absolute;
      top: 5%;
      left: 5%;
      padding: 2%;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 10%;
      color: white;
      font-weight: 700;
      font-size: 21px; }
    .blog__posts .post__summary {
      width: 100%;
      position: absolute;
      height: 30%;
      bottom: 0;
      background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0)));
      background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
      text-align: left; }
      .blog__posts .post__summary__title {
        font-size: 20px;
        color: white;
        text-shadow: black 2px 2px 2px;
        margin-top: 10px;
        margin-left: 20px;
        padding-bottom: 20px; }
      .blog__posts .post__summary__author {
        font-size: 13px;
        color: white;
        text-shadow: black 2px 2px 2px;
        margin-left: 20px; }
  @media screen and (max-width: 1500px) {
    .blog__posts .post__summary {
      height: 40%; } }
  @media screen and (max-width: 1100px) {
    .blog__posts .post__date {
      font-size: 16px; }
    .blog__posts .post__summary {
      height: 50%; }
    .blog__posts .post__summary__title {
      font-size: 16px; } }

.contact {
  padding-bottom: 100px; }
  .contact .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contact__heading {
    text-align: center; }
  .contact__title {
    font-size: 9rem;
    padding-top: 100px; }
  .contact__description {
    padding: 50px 0;
    font-size: 17px; }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%; }
    .contact__form input, .contact__form textarea {
      width: 85%;
      font-size: 15px;
      padding: 15px 20px;
      margin-bottom: 15px;
      background: rgba(0, 196, 196, 0.3);
      border: 0;
      color: white;
      outline: none;
      resize: none; }
    .contact__form input:focus, .contact__form textarea:focus {
      background: #00c4c4;
      border-left: 4px solid #355b82; }
    .contact__form input::-webkit-input-placeholder, .contact__form textarea::-webkit-input-placeholder {
      color: white;
      opacity: 0.8; }
    .contact__form input::-moz-placeholder, .contact__form textarea::-moz-placeholder {
      color: white;
      opacity: 0.8; }
    .contact__form input:-ms-input-placeholder, .contact__form textarea:-ms-input-placeholder {
      color: white;
      opacity: 0.8; }
    .contact__form input::-ms-input-placeholder, .contact__form textarea::-ms-input-placeholder {
      color: white;
      opacity: 0.8; }
    .contact__form input::placeholder, .contact__form textarea::placeholder {
      color: white;
      opacity: 0.8; }
    .contact__form textarea {
      height: 300px; }
  .contact__address {
    text-align: left;
    padding-left: 10%; }
    .contact__address h4 {
      font-size: 17px; }
    .contact__address p {
      font-size: 20px;
      padding-bottom: 15px; }
  @media screen and (max-width: 1100px) {
    .contact__form {
      width: 70%; }
    .contact__form input, .contact textarea {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .contact .flex-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .contact .contact__form {
      width: 100%;
      margin-top: 20px;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .contact .contact__address {
      padding-left: 0;
      width: 100%; } }

.footer {
  color: #b9b9b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 17px; }
  .footer .love {
    color: red;
    font-weight: 700; }

/*# sourceMappingURL=styles.css.map */
